<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home-styles.css">

    <title>Who's Henry?</title>
  </head>
  <body>
    {{>nav}}
    <div class="background-navy font-white">
      <div class="container">
        <div class="about-container">
          <div class="row">
            <div class="col-md about-p-col">
              <h3>Biography?</h3>
              <hr>
              <p class="paragraph-font-family">
                I am Henry! Born in Portland and raised in Sandy, 
                I am the ultimate happy-go-lucky Swiss army knife.
                If you want to adventure in Little Cottonwood Canyon,
                have a debate about chairs with arms, or if your
                computer is glitching out, I'm your guy!
              </p>
            </div>
            <div class="col-md about-img-col">
              <img class="profile-picture" src="/images/home/profile.jpg" alt="profile pic">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <hr class="about-container-divider">
    </div>

    <div class="background-navy font-white">
      <div class="container">
        <div class="about-container-2">
          <div class="row">
            <div class="col-md about-img-col-2">
              <div class="profile-picture-2">
                <label class="img-label" for="gradma-pic">Last visit to grandma before Alzheimer's diagnosis</label>
                <img src="/images/home/grandma.JPG" alt="messing around" id="grandma-pic">
              </div>
              <div class="profile-picture-3">
                <img src="/images/home/kayaking.jpg" alt="kayaking w dad" id="kayaking-pic">
                <label class="img-label" for="kayaking-pic">Kayaking 2018</label>
              </div>
              <div class="empty-square"></div>
            </div>
            <div class="col-md about-p-col-2">
              <h3>Paraphrased</h3>
              <hr>
              <p class="paragraph-font-family">
                Inspired by <i>Subtotals</i> by Gregory Burnham. 
                <br>
                Favorite weather: Misty sunshine after a storm.
                <br>
                Favorite kitchen appliance: Garlic press.
                <br>
                Can't live without: Lofi music.
                <br>
                Can't live without: Clean pockets.
                <br>
                Love: Petrichor.
                <br>
                Love: Exploring by moonlight.
                <br>
                In my bag: 1 notebook for 6 subjects.
                <br>
                In my bag: Ski mask.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <hr class="about-container-divider">
    </div>

    <div class="background-navy font-white">
      <div class="container">
        <div class="angle-container">
          <div class="row">
            <div class="col-md about-p-col">
              <h3>Angle #3</h3>
              <hr>
              <p class="paragraph-font-family">
                You know that one saying? About how 
                you can love something but suck so much at it 
                that it almost killed you multiple times? Yeah, well
                that's the mountains for me. From tumbling off a cliff
                while skiing to getting 'trebuchet-ed' off a hill by
                a swing, I still love my mountains. 
                <br>
                <hr>
                <p class="paragraph-font-family" style="text-align: right;">
                  I hate the paved and well travelled trails. I like
                  the solitary trails where its just you, the trees, and the mountain.
                  I prefer trails that make you gasp for air. They provide the best views.
                  I like skiing the treeline but not the moguls. Traversing
                  the untraversed is my code.
                </p>
              </p>
            </div>
            <div class="col-md about-img-col-3">
              <div class="profile-picture-2-a">
                <img src="/images/home/hiking-snowbird.jpg" alt="hiking at snowbird" id="snowbird-pic">
              </div>
              <div class="profile-picture-3-a">
                <img src="/images/home/skiing.JPG" alt="skiing" id="skiing-pic">
              </div>
              <div class="profile-picture-4-a">
                <img src="/images/home/red-pine.jpg" alt="skiing" id="skiing-pic">
              </div>
              <div class="empty-square-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <hr class="about-container-divider">
    </div>

    <div class="background-navy font-white">
      <div class="container">
        <div class="about-container-2" style="background-color: rgba(255, 89, 94, 0.7);">
          <div class="row">
            <div class="col-md about-img-col-2">
              <div class="profile-picture-2">
                <img src="/images/home/weiwei.JPG" alt="hmm" id="feeding-pic">
              </div>
              <div class="profile-picture-3-b">
                <img src="/images/home/eggs.jpg" alt="food" id="food-pic">
              </div>
              <div class="empty-square" style="border: 1px solid aqua;"></div>
            </div>
            <div class="col-md about-p-col-2-c">
              <h3>Dimension #4</h3>
              <hr>
              <p class="paragraph-font-family">
                Spontaneity flows through my veins.
                But really, it was difficult to inject it into me.
                Growing up, I couldn't stand eating Japanese food.
                My cousin, having grown up in Japan, wanted to teach
                me the ins and outs of sashimi and sushi. My 
                disinterest led to photos like this one. 
                He had to get protein into me somehow. 
              </p>
              <br>
              <hr>
              <p class="paragraph-font-family">
                I like cooking. Actually I like food. More specifically,
                I like creative explosions happening in your mouth.
                Anyways, cooking is the only chemistry experiment my 
                parents let my conduct inside. It allows me to blend 
                all my favorite flavors into 1 little plate. 
                Fried eggs dashed with mirin, seasoned with Sichuan peppercorns,
                and rose cakes - the perfect 10 minute breakfast. After 
                I retire, I'm definitely opening a restaraunt.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>