body {
    background-color: #006466;
}

.slide {
    border: none;
}

.custom-carousel-content {
    background-color: rgba(146, 94, 170, 0.2);
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    padding: 5% 5% 5% 0;
}

hr {
    color: white;
}

.bg-red {
    background-color: rgba(249, 65, 68, 0.6);
}

.bg-purple {
    background-color: rgba(205, 218, 253, 0.2);
}

.bg-gold {
    background-color: rgba(247, 184, 1, 0.2);
}

.image-container {
    text-align: center;
    width: 80%;
}

.community-carousel-image {
    position: relative;
    width: 80%;
    top: 50%;
    transform: translateY(-50%);
}

.barbara {
    width: 71.8%;
}

.leah {
    width: 73.1%;
}

.together {
    width: 86%;
}

.fun {
    width: 75.5%;
}

.election-day {
    width: 100%;
}