body {
    background-color: #073b4c;;
}

.slide {
    border: none;
}

.custom-carousel-content {
    background-color: rgba(146, 94, 170, 0.2);
    width: 100%;
    height: 60rem;
    margin: 4rem auto;
}