body {
    background-color: #006466;
}

.profile-picture {
    width: 27rem;
}

.about-container {
    background-color: rgba(77, 25, 77, 0.6);
    margin: 2rem 0;
}

.about-container-2 {
    background-color: rgba(3, 4, 94, 0.4);
    margin: 2rem 0;
}

.about-p-col{
    text-align: left;
    padding: 13rem 3rem;
}

.about-img-col {
    text-align: right;
    padding: 3rem;
}

.about-container-divider {
    color: white;
}

.about-p-col-2{
    text-align: center;
    padding: 13rem 3rem;
    line-height: 2rem;
}

.about-img-col-2 {
    position: relative;
}

.profile-picture-2 {
    position: relative;
    top: 10rem;
    left: 3rem;
    z-index: 2;
}

.profile-picture-2 img {
    width: 25rem;
}

.profile-picture-3 {
    position: absolute;
    top: 19rem;
    left: 15rem;
    z-index: 1;
}

.profile-picture-3 img {
    width: 25rem;
}

.empty-square {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 2%;
    border: 0.5px solid gold;
    left: 7rem;
    top: -12rem;
    z-index: 0;
}

.img-label {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}