body {
    background-color: #073b4c;
}

.profile-picture {
    width: 27rem;
}

.about-container {
    background-color: rgba(137, 170, 94, 0.2);
    margin: 2rem 0;
}

.about-container-2 {
    background-color: rgba(36, 194, 206, 0.2);
    margin: 2rem 0;
}

.about-p-col{
    text-align: left;
    padding: 13rem 3rem;
}

.about-img-col {
    text-align: right;
    padding: 3rem;
}

.about-container-divider {
    color: white;
}

.about-p-col-2{
    text-align: left;
    padding: 13rem 3rem;
    line-height: 2rem;
}

.about-img-col-2 {
    position: relative;
}

.profile-picture-2 {
    position: relative;
    top: 10rem;
    left: 5rem;
    width: 20rem;
    z-index: 2;
}

.profile-picture-3 {
    position: absolute;
    top: 23rem;
    left: 13rem;
    width: 25rem;
    z-index: 1;
}

.empty-square {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 2%;
    border: 0.5px solid gold;
    left: 7rem;
    top: -12rem;
    z-index: 0;
}
