body, html {
    font-family: 'Libre Baskerville', serif !important;
    height: 100%;
}
.paragraph-font-family {
    font-family: 'Raleway', sans-serif;
}

.background-navy {
    background-color: #073b4c;
}

.navbar-brand {
    font-size: 26px;
    font-weight: 900;
}

.font-white {
    color: white;
}