<footer class="background-navy text-center text-white">
  <div style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="container p-4">
      <section class="mb-4">
        
      </section>
      <section class="mb-4">
        <p class="paragraph-font-family">
          This website was made
          with Bootstrap v5.0 and my own code.
          Fonts are from Google Fonts.
          Images are blurred to protect identities. 
        </p>
      </section> 
    </div>
  </div>
</footer>