<footer class="background-navy text-center text-white">
  <div style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="container p-4">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"> 
          <i class="fab fa-linkedin-in" s></i>
        </a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-github"></i>
        </a>
      </section>
      <section class="mb-4">
        <p class="paragraph-font-family">
          
        </p>
      </section> 
    </div>
  </div>
</footer>