<nav class="navbar navbar-expand-lg navbar-dark py-5 background-navy">
    <div class="container">
        <a class="navbar-brand mx-4" href="/">Who's Henry Chen?</a>
        <button class="navbar-toggler collapsed mx-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse paragraph-font-family" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item mx-4">
                    <a class="nav-link" href="/community">Community</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>